.assiduite-container{
    overflow-y: scroll;
    height: 80dvh;
}

.qr-page {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    align-items: center; /* Centrage horizontal */
    justify-content: flex-start; /* Alignement en haut */
    height: 100vh; /* Hauteur de la vue */
    padding-top: 2rem; /* Marge supplémentaire en haut */
    background: var(--color-white); /* Couleur de fond blanc */
    border-radius: 10px; /* Coins légèrement arrondis */
  }

  /* Styles pour le titre */
  .qr-title {
    font-size: 1.5rem; /* Taille de la police */
    margin-bottom: 1rem; /* Marge inférieure */
  }

  /* Styles pour l'image QR */
  .QRCode {
    width: 200px; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    padding: 1rem; /* Ajout d'un peu d'espace autour de l'image */
    transition: transform 0.3s ease; /* Animation de transition */
  }

  .qr-buttons {
    display: flex; /* Affichage en ligne des boutons */
    justify-content: space-around; /* Espacement égal entre les boutons */
    width: 50%; /* Largeur maximale des boutons */
    margin-top: 20rem; /* Marge supplémentaire au-dessus des boutons */
    gap: 1rem;
  }

  .details-membre{
    margin: 0 2%;
    padding: 1% 0;
    overflow-y: scroll;
    border-radius: var(--card-border-radius);
}

.infos-bouttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;

}

.membre-btn{
    background: var(--color-primary);
    border-radius: var(--border-radius-1);
    text-align: center;
    min-width: 20%;
}

.membre-btn:hover{
    background: var(--color-blue);
}

.membre-btn .link{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 1rem;
}

.infos-membre{
    display: grid;
    grid-template-columns: 18% 40% 40%;
    gap: 1%;
}

.infos-membre img{
    width: 70%;
    justify-self: center;
    border-radius: 50%;
}

.infos-groupe{
    background: var(--color-white); 
    padding: 2% 5%;
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2.5%;
}

.infos-groupe h1{
    margin-bottom: 2%;
}

.info-membre{
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
}
.info-membre-val{
    font-size: 1.2rem;
    margin-top: 0.5%;
}

.info-membre .btn{
    margin-top: 2%;
}

.infos-contact{
    background: var(--color-white); 
    padding: 2% 5%;
    border-radius: var(--card-border-radius);
}

.infos-bouttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos-assiduite{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.membre-groupes {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.membre-groupe {
    flex: 0 0 auto;
    background: var(--color-primary); 
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: var(--border-radius-1);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1%;
}

.membre-groupe:hover {
    background: var(--color-blue);
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  gap:1.5%;
  margin-top: 3rem; /* Marge supplémentaire en bas */
  padding: 1rem 2rem;

}
.membre-btn.disabled {
  opacity: 0.5; /* Opacité réduite */
  pointer-events: none; /* Désactivation des événements de pointeur */
}

.membre-groupe.selected {
  background: rgb(0,0,128);
}